body {
    background-color: cornflowerblue;
    color: midnightblue;
    font-family: Arial, sans-serif;
}
  
h1 {
    text-align: right;
    font-size: 45pt;
    margin-right: 5px;
    border-bottom: 5pt solid midnightblue;
}
  
h2 {
    font-size: 25pt;
}

ul {
    list-style-position: inside;
}

a {
    color: inherit;
}

img {
  max-width: 100%;
}

.blogs {
  margin: 0px 50px;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0px 50px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

footer {
  text-align: center;
  clear: both;
}

@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}